<div class = "container">
	<div class="row bg-danger">
		<div class="col-md-4">{{profile.selectedProfile.initial}}</div>
		<div class="col-md-4">{{profile.selectedProfile.name}}</div>
		<div class="col-md-4">{{profile.selectedProfile.designation}}</div>
	</div>
	<div class="bg-primary">
      <div class="row">
        <div class="col-md-6">Division</div>
        <div class="col-md-6">{{profile.selectedProfile.division}}</div>
      </div>
    
      <div class="row">
        <div class="col-md-6">Team</div>
        <div class="col-md-6">{{profile.selectedProfile.team}}</div>
      </div>
	</div>

	<div class="bg-info">
		<div class="row bg-info">
			<div class="col-md-6">Mobile Number</div>
			<div class="col-md-6">{{profile.selectedProfile.mobile_number}}</div>
		</div>
		<div class="row bg-info">
			<div class="col-md-6">Residence Number</div>
			<div class="col-md-6">{{profile.selectedProfile.residence_number}}</div>
		</div>
		<div class="row bg-info">
			<div class="col-md-6">Email ID</div>
			<div class="col-md-6">{{profile.selectedProfile.company_email_id}}</div>
		</div>
		<div class="row bg-info">
			<div class="col-md-6">Personal email ID</div>
			<div class="col-md-6">{{profile.selectedProfile.personal_email_id}}</div>
		</div>
	</div>
</div>
		